@charset "UTF-8";
@font-face{ /**/
    font-family:source;
    src: url(font/source-code.ttf);
    /*Procura outra fonte para dar um toque mais artístico, considerando que é um site com várias imagens, de preferência uma sans-serif. EXCLUA A FONTE QUE VOCÊ BAIXOU, NÃO ESQUECE!!!*/
}

/*Faz as configurações no estilo do Mobile First com o @media*/

:root { 
    /*Variaveis das cores que vou utilizar, muda o nome para o local onde vc vai usar, tipo principal, destaque, etc.*/
    /*Procura uma nova paleta de cores.*/
    --cor1:;
    --cor2:;
    --cor3:;
    --cor4:;
    --cor5:;
}